{% for item in items %}
    <h2 class="text-center">{{ item.content }}</h2>
    <div class="centered">
        <script type="text/javascript" src="http://www.douban.com/service/badge/tcsnhj/?selection=latest&amp;picsize=medium&amp;hideself=on&amp;show=dolist&amp;n=18&amp;hidelogo=on&amp;cat=book&amp;columns=6"></script>
    </div>
    <br>
{% endfor %}
