<aside class="widget avatar-panel">
    <div class="avatar">
        <a href="/about">
            <img class="img-thumbnail" src="{{ file_url(avatar_url) }}" style="width: 180px;">
        </a>
    </div>
</aside>