<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info container">
        <div class="row">
            {{ page.footer }}
            <div class="col-md-6">
                {{ page.footer_left }}
            </div>
            <div class="col-md-6">
                {{ page.footer_right }}
            </div>
        </div>
    </div>
</footer>